<div class="background">
  <div class="container pt-5 pb-8">
    <div class="row">
      <div class="col-md-5 col-sm-5 pb-5 text-center">
        <%= image_tag('skyline.svg') %>
      </div>
      <div class="col-md-7 col-sm-7 text-center">
        <h1 id="main-text" class="display-4 pb-2 mb-4"> <%= t("landing.welcome").html_safe %></h1>

        <div class="col col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-header background">
              <h4 class="mt-2">Konferenz beitreten</h4>
            </div>
            <div class="card-body background">
              <p>Bitte geben Sie den Link zur Konferenz oder die Konferenz-ID ein:</p>
                <div class="form-group">
                  <div class="input-icon">
                <span class="input-icon-addon">
                  <i class="fas fa-link"></i>
                </span>
                    <input class="form-control" placeholder="Konferenz-Link oder ID" value="" type="text" name="konferenz_link" id="konferenz_link"/>
                  </div>
                </div>
                <div class="card-footer px-0">
                  <input type="button" onclick="readURL()" name="enter" value="Beitreten" class="btn btn-primary btn-block signin-button"/>
                </div>
            </div>
          </div>
        </div>
        <script>
          function readURL() {
              let konferenz_link = document.getElementById('konferenz_link').value
              let baseURL = "https://video.anderscore.com/b/"
              console.log('url: ', konferenz_link);
              let parts = konferenz_link.split("/");
              console.log(parts);
              if (parts[0] === "https:" && parts[2] == "video.anderscore.com" && parts[3] === "b") {
                  window.location.href = konferenz_link;
              } else if ((/^[a-z0-9]{3}\-[a-z0-9]{3}\-[a-z0-9]{3}$/).test(konferenz_link)) {
                  window.location.href = baseURL + konferenz_link;
              } else {
                  // give error message to user?
              }
          }
        </script>

        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.anderScore",
                                                              href: link_to("anderScore", "https://www.anderscore.com", target: "_blank", rel: "noopener"),
                                                              href_green: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")
                                                            ).html_safe %></p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video_as") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>
